<ion-content class="flex">

  <div class="flex flex-center flex-column" id="start-message">

    <img src="assets/Logo-Coink.svg" alt="icono-coink" width="150">

    <span>La alcancía que siempre te acompaña</span>
    
  </div>

  <div id="buttons-start"> 
    <ion-button [routerLink]="['/register']" routerLinkActive="router-link-active"  class="btn ion-margin-bottom" expand="block" >
      Regístrate
    </ion-button>

    <ion-button [routerLink]="['/register']" class="btn btn-secondary" expand="block">
      Ingresa
    </ion-button>
  </div>

</ion-content>
