<div class="flex flex-center msg-register">
  <img src="assets/OinkPolicia.svg" alt="icono" />

  <div>
    <h5>Estas muy cerca de ser parte de COINK.</h5>
    <p>
      Solo es necesario que leas detenidamente el contrato que se encuentra al
      final de esta pantalla y lo aceptes.
    </p>
  </div>
</div>

<h2 class="content-subtitle">Lo más importante</h2>

<p>
  Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona
  natural que de acuerdo con nuestra legislación vigente te encuentres en plena
  capacidad para adquirir derechos y contraer obligaciones.
</p>
<p>
  Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo
  hasta por 8 salarios mínimos en el mes y realizar débitos por el mismo valor.
  Si deseas sobrepasar estos límites debes solicitarnos la apertura de un
  Depósito Ordinario COINK Persona Natural.
</p>
<p>
  Solo puedes tener una cuenta COINK de Bajo Monto y podrás utilizar tu
  dispositivo móvil para consultar tu saldo, tus movimientos, realizar tus
  transacciones y administrar tu cuenta.
</p>

<p>Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.</p>

<a href="">Lee tu contrato</a>

<ion-checkbox [(ngModel)]="checked" labelPlacement="end"
  >He leído ya acepto el contrato</ion-checkbox
>

<ion-button
  [disabled]="!checked"
  (click)="onSubmit()"
  class="btn btn-primary"
  expand="block"
>
  Aceptar
</ion-button>
