// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --primary: #1eea00;
  --secondary: #004b40;
  --gray: #757575;
  --light-gray: #fafafa;
  --light-gray-2: #d3d3d3;
  --black: #323232;
}
