.content-subtitle {
  margin-bottom: 16px;
}

ion-input,
ion-select {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.input-wraper {
  position: relative;
  margin-bottom: 16px;
}

.btn {
  margin-top: 40px;
}

.content-subtitle {
  text-transform: none;
}

.error small {
  margin-bottom: 5px;
  display: block;
}
