/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", Sans-serif;
}

ion-content::part(scroll),
.padding-content {
  padding: 36px 28px;
  overflow: auto;
}

.ion-no-padding {
  &::part(scroll) {
    padding: 0px !important;
  }
}

ion-button {
  --box-shadow: none !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

ion-input,
ion-select {
  --highlight-color-focused: var(--primary) !important;
  --padding-end: 10px !important;
  --padding-start: 10px !important;
  font-weight: 450;
  letter-spacing: 1px;
  position: relative;
  min-height: 60px;
  --color: gray !important;
  color: gray !important;
}

.end-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: var(--black);
  z-index: 1000 * 1000;
  font-size: 16px;
}

.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}

.flex {
  display: flex !important;
  &::part(scroll) {
    display: flex !important;
    flex-direction: column;
  }
}

.flex-center {
  align-items: center;
  justify-content: center;
  &::part(scroll) {
    align-items: center;
    justify-content: center;
  }
}

.flex-between {
  align-items: center;
  justify-content: space-between;
  &::part(scroll) {
    align-items: center;
    justify-content: space-between;
  }
}

.flex-column {
  flex-direction: column;
}

.separator-flex {
  display: flex;
  flex-grow: 1;
}

.content-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--secondary);
  margin: 0;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.btn {
  --background: var(--primary);
  --color: var(--secondary);
  --border-radius: 30px;
}

.btn-secondary {
  --background: var(--secondary) !important;
  --color: white !important;
}

.btn[expand="block"] {
  &::part(native) {
    line-height: 30px;
    font-size: 12pt;
    font-weight: bold;
  }
}

.gray {
  color: var(--gray);
}

$header-heigth: 56px !default;

.btn-back {
  height: 56px;
  width: 56px;

  margin: 0;
  padding: 0;

  --border-radius: 28px;
  --background: none;

  z-index: 1000 * 1000;

  --ripple-color: grey;

  ion-icon {
    font-size: 25pt;
    color: var(--primary);
  }
}

ion-header {
  min-height: $header-heigth;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1) !important;

  ion-title {
    min-height: $header-heigth;
    font-weight: bold;
    font-size: 12pt;
    text-transform: uppercase;
    color: var(--secondary);
  }
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.msg-register {
  color: var(--gray);
  padding: 24px 0px;
  margin-bottom: 50px;
  border-bottom: 1px var(--primary) solid;
  div,
  span {
    margin-left: 24px !important;
  }
  p,
  span {
    margin: 0;
    font-size: 16px;
    font-weight: 550;
  }
  h5 {
    font-weight: 700;
    color: var(--secondary);
    font-size: 16px;
    margin: 0;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
}

.alertWelcome {
  --min-width: 70%;

  .alert-message {
    padding: 0px;
  }

  .alert-wrapper {
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 19px;
      line-height: 20px;
      font-weight: 600;
      color: var(--secondary);
      word-spacing: 1px;
    }

    p {
      font-size: 14px;
      color: var(--black);
      font-weight: 450;
    }
  }

  .alert-button,
  .alert-button-inner {
    flex-grow: 1;
    align-items: center !important;
    justify-content: center !important;
  }

  .alert-button {
    background-color: var(--primary);
    color: var(--secondary);
    font-weight: 700;
    border-radius: 30px;
  }
}
